.App {
  text-align: left;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 1vmin);
  color: #202122;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Results {
  max-width: 90vmin;
}

.Home {
  max-width: 90vmin;
}

.NameLabel {
  display: flex;
  width: calc(90vmin - 15em);
  margin-bottom: 0.5em;
  align-items: center;
}

.RoomLabel {
  display: flex;
  width: calc(90vmin - 15em);
  align-items: center;
}

input {
  flex-grow: 1;
}

.Lobby {
  max-width: 90vmin;
}

.Final {
  max-width: 90vmin;
}

.Chat {
  display: flex;
}

.ChatBox {
  width: calc(90vmin - 10px);
  margin-left: 0;
  font-size: 1em;
}

.ToastProgress {
  background: #202122 !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

label {
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
  font-weight: bold;
  margin-right: 0.25em;
}

.Select {
  font-size: 0.9em;
}

input {
  margin-left: 0.25em;
  height: 2em;
}

.AnswerMarker {
  filter: hue-rotate(180deg);
}

th, td {
  padding: 0.25em;
}

table {
  width: 90vmin;
  align-items: center;
  border-radius: 0.25em;
  box-shadow: 0 0 0 1px #a2a9b1;
}

h1, h2, h3, h4 {
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
  text-align: left;
  border-bottom: 1px solid #a2a9b1;
  min-width: 90vmin;
}

.Title {
  font-size: calc(10px + 3vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
