.Guess {
  max-width: 90vmin;
}

.Hint {
  min-height: 50vh;
  margin-bottom: 4em;
}

.SubmitButton {
  min-width: 90vmin;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  height: 3em;
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
  font-size: 1em;
}
